<div class="container">
  <br>
  <h1>List of the cocktails </h1>

  <hr>
    <div class="row">
      <div class="box">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300/?random');">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <div class="card-link">
          <%= link_to "More info", cocktail_path(cocktail), class: "btn btn-primary"%>
          <%= link_to "Remove", cocktail_path(cocktail), method: :delete, data: {confirm: "Are you sure?"}, class: "ml-3 text-danger btn btn-danger" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
