.home-banner {
  background-image: url('TODO: A picture URL from unsplash.com!');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

h5 {
  font-weight: bold;
}
